body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: url('img/background4.jpg') no-repeat center center fixed;
    background-size: cover;
}

.header {
    text-align: center;
    margin-top: 1%;
}

.main-title {
    font-family: 'Luckiest Guy';
    font-weight: 50;
    font-size: 50px;
    color: #0062FF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.sub-title {
    font-family: 'Luckiest Guy', cursive;
    font-size: 25px;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-top: -2%;
}

.container-day {
    max-width: 15%;
    max-height: 75%;
    padding: 20px;
    background-color: #FFFFFF;
    opacity: 75%;
    border-radius: 10px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);

    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
}

.day-title {
    text-align: center;
    margin-top: -5%;

    font-family: Luckiest Guy;
    font-size: 20px;
    font-weight: 20;
    color: #0062FF;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
}

.day-act {
    font-family: Mclaren;
    margin-top: -3%;
}

.main-title a {
    text-decoration: none;
    color: #0062FF;
}

.container-day a {
    text-decoration: none;
    color: #000000;
}